body {
    /* background-color: #434342; */
    background-image: url("../media/background2.png");
}

#nav {
    position:absolute;
    /* left: 35px; */
    left: 1.82%;
    /* top: 20px; */
    top: 1%;
    width: 98%;
    height: 7%;
}

#navPlaceholder1 {
    float: left;
    height: 100%;
    width: 3%;
}

#navPlaceholder2 {
    float: left;
    width: 90%;
    height: 37%;
}

#row {
    float: left;
    width: 11%;
    height: 60%;
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: white;
}

#rowHolder {
    float: left;
    width: 3%;
    height: 60%;
}

#navIcon {
    float: left;
    width: 20%;
    height: 50%;
}

#account {
    position:absolute;
    /* left: 35px; */
    left: 92%;
    /* top: 20px; */
    top: 20%;
    height: 100%;
    width: 5%;
    color: black;
}

#menuSide {
    float: left;
    width: 77%;
}

#hrHolder {
    height: 7%;
    width: 95%;
}
#end {
    width: 100%;
    height: 0.5%;
}